@import "../../vars";

.bodyItem {
   
   border-radius: 5px;
   padding: 5px;
   &:not(:last-child) {
      margin-bottom: 10px;
   }
}
body[data-theme="light"] .bodyItem  {
   background-color: $color-el-light;
}
body[data-theme="dark"] .bodyItem  {
   background-color: $color-el-light;
}
.textItem {
   margin-bottom: 10px;
   span {
      font-style: italic;
      font-weight: 600;
   }
}
.buttonItem {
   border-radius: 3px;
   padding: 3px;
   &:not(:last-child) {
      margin-right: 10px;
   }
}