$color-bg-light: rgb(250, 250, 250);
$color-light: rgb(17, 21, 23);
$color-el-light: rgb(133, 133, 133);
$color-ui-base-light: hsl(200, 0%, 100%);
$shadow-light: rgba(149, 157, 165, 0.2) 0 8px 24px;

$color-bg-dark: rgb(32, 44, 55);
$color-dark: rgb(255, 255, 255);
$color-el-dark: rgb(43, 57, 69);
$color-ui-base-dark: hsl(209, 23%, 22%);
$shadow-dark: rgba(245, 245, 245, 0.2) 0 0 8px;