@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap");

*, ::before, ::after {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}


html,
body {
   font-family: "Roboto";
  min-height: 100%;
  background: rgb(212, 212, 212);
  font-size: 18px;
}
a {
   text-decoration: none;
   color: inherit;
}
textarea,
input,
button {
   font-weight: inherit;
   font-size: inherit;
   color: inherit;
   font-family: inherit;
}
button {
   cursor: pointer;
   background-color: inherit;
}

ul {
   list-style: none;
}
